/*
 * Estilos de tu proyecto
 */
 *{
 	margin:0;
 	font-family: 'Noto Serif', serif;
 }
 nav{
 	background-color: #01415E;
	padding: 0px;
	width: 100%;
	position: fixed;
	z-index: 3;
	margin-right: 100px;


 }
 ul{
	list-style: none;
	margin:0;
	overflow: hidden;
	background-color: #01415E;
	float: right;
	margin-right:100px;
}

ul li{
	display: inline-block;
}
ul li a{
	display: inline-block;
	color: white;
	text-align: center;
	text-decoration: none;
	margin-left: 20px;
	padding: 10px;
}

li a:hover, .dropdown:hover, .dropbtn:hover{
	color: #00B19A;
}

.star{
	float: left;
	color: white;
	font-size: 30px;

}