/*
 * Estilos de tu proyecto
 */
 *{
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 	font-family: 'Yrsa', serif;

 }

 body{
 	margin: 0 auto;x|
 	line-height: 1.71429;
 	background-color: #fff;
 	text-align: center;
 }
 nav{
 	background-color: #01415E;
 	padding: 0px;
 	width: 100%;
 	position: fixed;
 	z-index: 30;
 	margin-right: 100px;
 }
 ul{
 	list-style: none;
 	margin:0;
 	overflow: hidden;
 	background-color: #01415E;
 	float: right;
 	margin-right:100px;
 }

 ul li{
 	display: inline-block;
 }
 ul li a{
 	display: inline-block;
 	color: white;
 	text-align: center;
 	text-decoration: none;
 	margin-left: 20px;
 	padding: 10px;
 }

 li a:hover, .dropdown:hover, .dropbtn:hover{
 	background: #00B19A;

 }

 .star{
 	float: left;
 	color: white;
 	font-size: 20px;

 }
 .portada{
 	background: #00B19A;
 	color: white;
 	padding: 30px;
 	text-align:center;
 	padding-top: 150px;
 	font-size: 30px;
 }

.container .row .col-12{
	text-align: center;
	font-size: 30px; 
}
.container{
	padding: 50px;
}

.port{
	width: 100%;
}

.about{
	background: #00B19A;
	color: white;
	width: 100%;
	height: 400px;
	text-align:left;
	padding-left:200px;
	padding-right: 200px;
	margin-top: 700px;


}
.abo{
	text-align:center;
	font-size: 30px;
}